<mat-card class="add-card">
    <mat-card-header>
        <mat-card-title>Add Activity</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form class="">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="add-card">
                            <input matInput placeholder="Name of Activity" [(ngModel)]="name" name="name" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="add-card">
                            <input matInput placeholder="Location of Activity" [(ngModel)]="location" name="location"
                                required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="add-card">
                            <input matInput placeholder="Activity Description" [(ngModel)]="description"
                                name="description" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <mat-form-field class="add-card">
                        <input matInput [matDatepicker]="picker1" placeholder="Date of Activity"
                            [(ngModel)]="date" name="date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </tr>

                <tr>
                    <mat-form-field class="add-card">
                        <input matInput [matDatepicker]="picker2" placeholder="Period of Registration"
                            [(ngModel)]="period" name="period">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="add-card">
                            <input matInput placeholder="Host" [(ngModel)]="host" name="host" required>
                        </mat-form-field>
                    </td>
                </tr>

            </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="add()">Add Activity</button>
    </mat-card-actions>
</mat-card>