.login-card {
    width: 400px;
    margin: 8% auto;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
}

.mat-card-title{
    font-size: 16px;
    
}

.title{
    margin-top: 0%;
    text-align: center;
    font-size: 18px;
    
}
.top-text{
    font-size:30px;
    position:relative;
    top:140px;
    left: 23%;
    width:800px;height:90px;
    color: black;
   
}
.inventory-body {
    position: fixed;
    min-width: 100%;
    background-image: url("https://web2.camt.cmu.ac.th/images/banners/banner_template_01.jpg");
    background-repeat: no-repeat; 
    background-size: 100%;
    background-position: center;
    background-size: cover; 
    height:20%;
   
    }

