<mat-tab-group>
    <mat-tab label="Activity">
        <ng-template matTabContent>
            <app-activity-table></app-activity-table>
        </ng-template>
    </mat-tab>

    <mat-tab label="Enrolled Activity">
        <ng-template matTabContent>
            <app-enrolled></app-enrolled>
        </ng-template>
    </mat-tab>

    <mat-tab label="Edit information">
        <ng-template matTabContent>
            <app-edit></app-edit>
        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <button mat-icon-button (click)="logout()">
                Logout
            </button>
        </ng-template>
    </mat-tab>

</mat-tab-group>